html {
box-sizing: border-box;
background-color: rgb(30, 40, 50);
}
 
*, *::before, *::after {
box-sizing: inherit;
margin: 0;
}

.container{
 width: 60%;
 margin: 0 auto;
 padding-top: 50px;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 40px auto 50px;
}

label {
    color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-right: 10px;
}

input {
    height: 20px;
}

button {
    background-color: gold;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    height: 21px;
}

.binary-container {
    display: flex;
    justify-content: center;
}

p {
    display: inline-block;
    min-width: 140px;
    min-height: 70px;
    padding: 20px;
    border: 6px solid gold;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
}

