html {
box-sizing : border-box;
background-color: rgb(20, 30, 40);
font-family: Arial, Helvetica, sans-serif;
}


*, *::before, *::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

header {
    width: 60%;
    margin: 0 auto;
}

.header__img {
    width: 100%;
    height: 70vh;
}

h1 {
    color: red;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}

.header__subheader {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__info-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header__links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}